<header>
　<h2>チャットグループが作成されました。</h2>
</header>
<div class="container">
  <div class="left-bar">
    <div class="left-bar__user">
      <h2 class="user__name">soga</h2>
      <div class="setting__btn">
        <i class="fa fa-pencil-square-o"></i>
        <i class="fa fa-gear"></i>
      </div>
    </div>
    <div class="chat__lists">
      <div class="chat__list">
      <h3 class="chat__room__name">sampleグループ</h3>
      <p class="chat__room__message">こんばんは</p>
      </div>
    </div>
    <div class="chat__lists">
      <div class="chat__list">
      <h3 class="chat__room__name">sampleグループ02</h3>
      <p class="chat__room__message">まだメッセージはありません。</p>
      </div>
    </div>
    <div class="chat__lists">
      <div class="chat__list">
      <h3 class="chat__room__name">sampleグループ03</h3>
      <p class="chat__room__message">まだメッセージはありません。</p>
      </div>
    </div>
  </div>
  <div class="chat">
    <div class ="chat__heading">
      <h2 class="chat__name">sampleグループ</h3>
      <a href="" class="edit__btn">Edit</a>
      <p class="chat__member">member: soga</p>
    </div>
    <div class="chat__messages">
      <div class="message">
        <h3 class="message__user__name">soga</h3>
        <h4 class="message__date">2017/04/03 20:00:00</h4>
        <p class="message__text">こんばんは</p>
      </div>
      <div class="message">
        <h3 class="message__user__name">soga</h3>
        <h4 class="message__date">2017/04/03 13:00:00</h4>
        <p class="message__text">こんにちは</p>
      </div>
      <div class="message">
        <h3 class="message__user__name">soga</h3>
        <h4 class="message__date">2017/04/03 09:00:00</h4>
        <p class="message__text">おはよう</p>
      </div>
    </div>
    <div class="chat__input">
      <form>
        <textarea placeholder="type a text" class="chat__input__area"></textarea>
        <i class="fa fa-photo"></i>
        <input type="submit" value="Send" class="chat__sent__btn">
      </form>
    </div>
  </div>
</div>